<footer class="container-fluid">
  <div class="text-center" style="background-color:#333" >
    <a href="#">Terms and conditions  </a>&nbsp;|
    <a href="#">API  </a>&nbsp;|
    <a href="#">Privacy policy  </a>&nbsp;|
    <a href="#">Copyright policies</a>
    <h1>
      <i class="fab fa-facebook "></i>&nbsp;
      <i class="fab fa-twitter-square"></i>&nbsp;
      
      <i class="fab fa-snapchat-square"></i>&nbsp;
      <i class="fab fa-google-plus-square"></i>
    </h1>
    <small> Ⓒ 2019 Go.com All rights reserved.</small>
  </div>
</footer>


