<nav class="navbar navbar-expand-sm navbar-light" style="background-color: #333">
  <div class="container-fluid">
  <a class="navbar-brand text-white" href="#">
      <img src="assets/images/logo1.jpg" alt="logo" style="width: 100px; height: 50px" />
  </a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
</button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link text-white" routerLink="home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="favourite" >Favourites</a>
      </li>
      <li class="nav-item">
          <a class="nav-link text-white" routerLink="search" >Search</a>
        </li>
      </ul>
  </div>
</div>
</nav>
