


  
<h2>Now Playing Movies</h2>
<div class="card_container container-fluid">
    <div *ngFor = "let movie of arrayOfMovies" class="card" style="width: 18rem;">
      <img src= {{movie.poster_path}} class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{movie.title}}</h5>
        <button  (click)="addToFavs(movie)" class="btn btn-dark mr-5 heart" > <i class="fas fa-heart"></i></button>
        <button (click)="gotDetails(movie.id)"class="btn btn-dark"><i class="fas fa-info-circle"></i></button>
      </div>
      </div>
  </div>

  <h2>Up Comming Movies</h2>
  <div class="card_container container-fluid">
      <div *ngFor = "let movie of arrayOfUmovies" class="card" style="width: 18rem;">
        <img src= {{movie.poster_path}} class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{movie.title}}</h5>
          <button (click)="addToFavs(movie)" class="btn btn-dark mr-2"> <i class="fas fa-heart"></i></button>
          <button (click)="gotDetails(movie.id)"class="btn btn-dark"><i class="fas fa-info-circle"></i></button>
        </div>
        </div>
    </div>
<app-footer></app-footer>